* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    height: 70px;
    background: white;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-logo {
    position: absolute;
    width: 82.02px;
    height: 25.35px;
    left: 30px;
    top: 22px;
}

.hero {
    display: grid;
}

.hero-banner {
    margin: 26px auto;
    width: 395.91px;
    height: 232px;
}

.hero--header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    margin-left: 36px;
}

.hero--text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    margin-left: 36px;

}

.bold {
    font-weight: bold;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    position: relative;
}
.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.card--image {
    width: 100%;
    border-radius: 9px;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}


/* ADD */
.card--price {
    margin-top: auto;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}